body{
    background: linear-gradient(30deg, rgb(41, 43, 42),rgb(58, 59, 59));
    font-family: "raleway", sans-serif;
}    
    header{
    position:static;
}
#logo a{
    color:rgb(157, 212, 212);
}
nav li a{
    background-color: rgb(157, 212, 212);
}
nav li a:hover{
    background-color:rgba(0, 132, 255, 0.836) ;
    color: white;
}
ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto 48px auto;
    gap: 20px 20px;
}
@media (max-width:768px){
    ul{
        grid-template-columns: 100%;
    }
}
/* .card:nth-of-type(3){
    grid-column: 1 / span 2;
} */
.card img{
    width:50%;
    /* height:15rem; */
    border-radius: 6px;
    object-fit:cover;
}
.card{
    background-color: white;
    display: flex;
    border-radius:8px;
    border:2px solid rgb(157, 212, 212);
    box-shadow: 3px 2px 2px rgb(157, 212, 212);
    margin:20px;
    overflow: hidden;
}
.content{
    padding: 24px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    color:rgb(41, 40, 40);
    margin-top: 0px;
    font-size: large;
}
.content h2{
    margin-top: 0;
}
.wiki{
    text-align: right;
    padding-left: 4px;
}
.wiki a{
    font-size: large;
    color: rgb(30, 129, 138);
    border:2px;
    padding:6px;
    border-radius: 4px;
    transition:background-color 0.3s ease;
}
.wiki a:hover{
    background-color:rgba(0, 132, 255, 0.836) ;
    color: white;
}

@media (max-width:768px){
    ul{
        grid-template-columns: 100%;
    }
}
